<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Лабораторная 7 (часть 2)</title>
        <base href="/">
        <link rel="stylesheet" type="text/css" href="static/main.css">
    </head>
    <body>
        <div id="block">

            <input onclick="window.location.assign('http://localhost:8081/addMovie');" type="button" class="button" value="Добавить фильм">
            <input onclick="window.location.assign('http://localhost:8081/updateMovie');" type="button" class="button" value="Редактировать фильм">
            <input onclick="window.location.assign('http://localhost:8081/showMovies');" type="button" class="button" value="Просмотреть фильмы">
            <input onclick="window.location.assign('http://localhost:8081/deleteMovie');" type="button" class="button" value="Удалить фильм">

            <hr>

            <p><a href="http://localhost:8081/task1">• Найти все фильмы, вышедшие на экран в текущем и прошлом году</a></p>
      
            <p><a href="http://localhost:8081/task2">• Вывести информацию об актерах, снимавшихся в заданном фильме</a></p>
        
            <p><a href="http://localhost:8081/task3">• Вывести информацию об актерах, снимавшихся как минимум в N фильмах</a></p>
       
            <p><a href="http://localhost:8081/task4">• Вывести информацию об актерах, которые были режиссерами хотя бы одного из фильмов</a></p>

            <p><a href="http://localhost:8081/task5">• Удалить все фильмы, дата выхода которых была более заданного числа лет назад</a></p>
        </div>
    </body>
</html>